Dataset Link: https://insights.stackoverflow.com/survey

 Pandas is a Data Analysis Library that allows us to easily read, analyze, and modify data. Pandas is a fundamental tool to learn in the growing field of Data Science.
 Install pandas using the following command:
 `pip install pandas`

In [1]:
import pandas as pd
import numpy as np

In [32]:
nan_vals = ['NA', 'MISSING']
data = pd.read_csv('data/survey_results_public.csv', index_col='Respondent', na_values=nan_vals) # Read in the data
schema = pd.read_csv('data/survey_results_schema.csv', index_col='Column') # Read in the schema

In [34]:
pd.set_option('display.max_columns', 85) # to see all the columns
pd.set_option('display.max_rows', 85) # to see all the rows

In [33]:
data.head() # to see the first 5 rows

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [6]:
schema.head() # to see the first 5 rows

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

🎯 You can think DataFrame as Rows and Columns and a series as Rows of single colums. So DataFrame is a basically a container for multiple series.

For example: Hobbyist colums as a series.

In [35]:
data.columns # to see the column names

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [37]:
data['YearsCode'].head(10) # to see the first 10 rows of the 'YearsCode' column)

Respondent
1       4
2     NaN
3       3
4       3
5      16
6      13
7       6
8       8
9      12
10     12
Name: YearsCode, dtype: object

In [42]:
data['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [43]:
data['YearsCode'].replace('Less than 1 year', 0, inplace=True) # replace the 'Less than 1 year' value with 0

In [44]:
data['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [45]:
data['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 0, '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 51, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [46]:
data['YearsCode'] = data['YearsCode'].astype(float) # convert the 'YearsCode' column to float

In [47]:
data['YearsCode'].dtypes

dtype('float64')

In [49]:
data['YearsCode'].mean() # to see the mean of the 'YearsCode' column

11.662114216834588

In [50]:
data['YearsCode'].median() # to see the median of the 'YearsCode' column

9.0

# Example

In [23]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['Schafer', 'Jacobson', 'Ali', 'Milner', np.nan, None, 'Missing'],
    'email': ['Corey@gmail.com', 'Jane@gmaail.com', 'John@gmail.com', None, np.nan, 'none@gmail.com', 'NA'],
    'age': [42, 52, 36, 24, None, None, 'Missing'],
}

In [25]:
df = pd.DataFrame(people)

df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

df

   first      last            email   age
0  Corey   Schafer  Corey@gmail.com  42.0
1   Jane  Jacobson  Jane@gmaail.com  52.0
2   John       Ali   John@gmail.com  36.0
3  Chris    Milner             None  24.0
4    NaN       NaN              NaN   NaN
5   None      None   none@gmail.com   NaN
6    NaN       NaN              NaN   NaN

In [27]:
df.dropna() # to drop all rows with missing values

   first      last            email   age
0  Corey   Schafer  Corey@gmail.com  42.0
1   Jane  Jacobson  Jane@gmaail.com  52.0
2   John       Ali   John@gmail.com  36.0

`axis='index'` will drop row and `axis='columns'` will drop column.

`axis='columns` with `how='any'` remove every column with NaN values

In [12]:
df.dropna(axis='index', how='all', subset=['email']) # to drop all rows with any missing values

   first      last            email   age
0  Corey   Schafer  Corey@gmail.com  42.0
1   Jane  Jacobson  Jane@gmaail.com  52.0
2   John       Ali   John@gmail.com  36.0
5   None      None   none@gmail.com   NaN

In [28]:
df.isna() # to see if there are any missing values

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [17]:
df.fillna(0) # to replace all missing values with a string

   first      last            email   age
0  Corey   Schafer  Corey@gmail.com  42.0
1   Jane  Jacobson  Jane@gmaail.com  52.0
2   John       Ali   John@gmail.com  36.0
3  Chris    Milner                0  24.0
4      0         0                0   0.0
5      0         0   none@gmail.com   0.0
6      0         0                0   0.0

In [29]:
df.dtypes # to see the data types of each column

first     object
last      object
email     object
age      float64
dtype: object

In [30]:
df['age'].mean() # to see the mean of the age column

38.5